.form-page{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
}
.form-button{
  height: 30px;
  background-color: #4361ee;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.form-name{
  height: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}
.form-address{
  height: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}
